# Environments
.env
env
.venv
venv
.conda-env
conda-env

# Project files
build
test
scratch

# VS Code settings
.vscode/

# Poetry / lock files
poetry.lock
uv.lock

# Python Cache
__pycache__
*.pyc

# Cython
*.pyd
*.so
*.c

# Distribution
dist

# Agents
AGENTS.md